
header ul.flex {
    gap: 16px;
}
header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: .88rem;
    font-weight: 500;
}

header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-size: .88rem;


}

header.flex{
justify-content:  space-between;
padding: 0 2.4rem;
margin-top: 1rem;
}
header.flex nav{
background-color: var(--bgHeader);
padding: .77rem 1.6rem;
border-radius:55px ;
}
header button{
    font-size: 1.2rem;
}

header button.menu{
    display: none;

}
header .fixed{
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgb(40,40,48,0.91);
    backdrop-filter:blur(4px) ;/*make the background blur -filiter for text */

}


@keyframes move {
    0% {scale: 0;}

    60% {scale: 1,2;}

    100% {scale: 1;}    
}
header .fixed ul.modal{
    animation: move .7s 1;
    width :85%;
    margin:0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
}

header .fixed ul.modal li{
    border-bottom: 2px solid var(--border);
    padding:10px;

}
header .fixed ul.modal li:last-child{
    border: none;
}
header .fixed ul.modal li:first-child{
   
  text-align: right;
  border: none;
  padding-bottom: 0;
  padding-top: .2rem;
}


header .icon-menu,header button.mode{
    background-color: var(--bgHeader);
    width: 2.4rem;
    height: 2.4rem;
    color:var(--icon-mode);
    border:1px solid var(--border);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s;
} 
.light header .icon-menu,header button.mode{
    color:var(--icon-mode);
}
header .icon-menu:hover,header button.mode:hover{
    color: var(--title);
    border: 1px solid var(--shadow);
    box-shadow: 0px 0px 20px var(--shadow);

}
header .fixed ul.modal li button.icon-close1{
    font-size: 1.3rem;
    font-weight: bold;
    transition: .3s;
}
header .fixed ul.modal li button.icon-close1:hover{
    rotate: 180deg;  
    font-size: 1.7rem;
    color: crimson !important;

}

@media (max-width:700px) {
    header.flex nav{
        display:none;
    }
    header button.menu{
        display: block;
    }
    
}